/* ==================================================================
                        BASE SELECTORS
================================================================== */
*{
    padding:0;
    margin:0;
}

body{
    background-image: url("./images/backgroundImage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family:"Varela Round";
    color:#131B22;
}
/* ==================================================================
                        CLASS SELECTORS
================================================================== */
.signInsignUp{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    list-style-type: none;  
}
.signInButton,
.signUpButton{
    height:30px;
    margin-right: 15px;
}

.buttonOne{
    margin-right: 75px;
    padding-top:7px;
    padding-bottom:7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius:5px;
}

.buttonTwo{
    padding-top:7px;
    padding-bottom:7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 42%;
}   
.big{
    margin-left:55px;
    margin-top:30px;
}
.menuIcon{
    list-style-type: none;
    margin-bottom:20px;
} 
.companyName{
    position: absolute;
    top:6%;
    left:8%;
    font-size:40px;
} 
.mainHeading{
    font-family:"Montserrat";
    font-size: 35px;
    margin-left:130px;
    margin-top:60px;
    font-weight: 800;
}
.itsBiggerContainer{
    position: absolute;
    top:46%;
    left:8%;
}
.exploreButton{
    height:60px;
    margin-left: 30px;
    margin-top: 10px;
}
.tagLine{
    position:absolute;
    top:10%;
    left:80%;
    width:100%;
}
.tagLineCont{
    position: relative;
    left:80%;
    margin-top:-28px;
    font-size: 20px;
}
.bottomThreeContainer{
    text-align:center;
    display: flex;
    justify-content: space-around;
    margin-top:40vh;
}

.nashButton,
.newButton,
.portButton{
    height:85px;
}


.exploreLine,
.tagLine{
    display:inline-block;
    font-size: 20px;
}



