/* ==================================================================
                        BASE SELECTORS
================================================================== */
*{
    padding:0;
    margin:0;
}

body{
    background-image: url("./images/backgroundImage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family:"Montserrat";
}
/* ==================================================================
                        CLASS SELECTORS
================================================================== */
.signInsignUp{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    list-style-type: none;  
}

.buttonOne{
    margin-right: 75px;
    padding-top:7px;
    padding-bottom:7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius:5px;
}

.buttonTwo{
    padding-top:7px;
    padding-bottom:7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 42%;
}   

.bottomThreeContainer{
    text-align:center;
    position: absolute;
    top:80%;
    left:12%;
}
.nashvilleButton,
.portlandButton,
.newyorkButton{
    display: inline-block;
    margin-right:170px;
}
.nashButton,
.newButton,
.portButton{
    height:90px;
}
.itsBiggerContainer{
    position: absolute;
    top:50%;
    left:8%;
}
.exploreButton{
    height:70px;
}
.exploreLine,
.tagLine{
    display:inline-block;
}
.tagLine{
    position:absolute;
    top:0%;
    left:70%;
    width:100%;
}
.tagLineCont{
    position: relative;
    top:-10;
    left:70%;
    margin-top:-40px;
}
.mainHeading{
    font-family:"Varela Round ";
    font-size: 45px;
    margin-left:130px;
    margin-top:60px;
}
.big{
    margin-left:55px;
    margin-top:30px;
}
.menuIcon{
    list-style-type: none;
    margin-bottom:20px;
}  
.companyName{
    position: absolute;
    top:7%;
    left:8%;
    font-size:40px;
}